* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

#main {
    background-color: #eee;
    padding: 40px 20px 40px 20px;
}

#img-div {
    background-color: white;
    padding: 40px 20px 40px 20px;
    margin: 40px 20px 40px 20px;
}

#title {
    font-weight: bold;
}

#image {
    max-width: 100%;
    margin-top: 40px;
}

#img-caption {
    padding: 15px;
}

@media screen and (max-width: 950px) {
    #main {
        padding: 25px 10px 25px 10px;
    }
    #img-div {
        padding: 25px 10px 25px 10px;
        margin: 25px 10px 25px 10px;
    }
}

@media screen and (max-width: 650px) {
    #main {
        padding: 25px 10px 25px 10px;
    }
    #img-div {
        padding: 25px 10px 25px 10px;
        margin: 25px 10px 25px 10px;
    }
}

@media screen and (max-width: 480px) {
    #main {
        padding: 25px 10px 25px 10px;
    }
    #img-div {
        padding: 25px 10px 25px 10px;
        margin: 25px 10px 25px 10px;
    }
}